@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap");
a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

ul, ol, h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

nav.navbar #myCustomNav ul li a {
  padding: 0 15px;
  color: #11161e;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
nav.navbar #myCustomNav ul li a:hover, nav.navbar #myCustomNav ul li a.active {
  color: #ff6f61;
}
nav.navbar .userAccess ul li {
  display: inline-block;
  margin: 0 10px;
}
nav.navbar .userAccess ul li a {
  color: #151a32;
}
nav.navbar .userAccess ul li a.cart {
  position: relative;
}
nav.navbar .userAccess ul li a.cart .notification {
  min-width: 20px;
  min-height: 20px;
  padding: 0 5px;
  font-size: 14px;
  color: white;
  background-color: #ff6f61;
  display: grid;
  place-items: center;
  border-radius: 15px;
  line-height: 15px;
  position: absolute;
  top: -5px;
  left: 12px;
}

.navbar-sm {
  background-color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navbar-sm .menu .offcanvas {
  max-width: 350px;
}
.navbar-sm .menu .menuTogglerIcon {
  color: #ff6f61;
  font-size: 1.2rem;
}
.navbar-sm .menu .offCanvasMenu {
  position: relative;
}
.navbar-sm .menu .offCanvasHeader {
  padding: 10px 15px 25px;
}
.navbar-sm .menu .offCanvasHeader .logo-sm {
  max-height: 50px;
}
.navbar-sm .menu .offCanvasBody ul {
  text-align: center;
  padding: 0;
}
.navbar-sm .menu .offCanvasBody ul li {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.navbar-sm .menu .offCanvasBody ul a {
  display: block;
  color: #151a32;
}
.navbar-sm .menu .offCanvasBody ul a:focus, .navbar-sm .menu .offCanvasBody ul a.active {
  color: #ff6f61;
}
.navbar-sm .logo {
  padding: 10px 0;
}
.navbar-sm .userAccess ul li {
  display: inline-block;
  margin: 0 10px;
}
.navbar-sm .userAccess ul li a {
  color: #151a32;
}
.navbar-sm .userAccess ul li a.cart {
  position: relative;
}
.navbar-sm .userAccess ul li a.cart .notification {
  min-width: 20px;
  min-height: 20px;
  padding: 0 5px;
  font-size: 14px;
  color: white;
  background-color: #ff6f61;
  display: grid;
  place-items: center;
  border-radius: 15px;
  line-height: 15px;
  position: absolute;
  top: -5px;
  left: 12px;
}
.navbar-sm .userAccess .notification {
  height: auto;
}
.navbar-sm .userAccess .notification span {
  display: inline-block;
  max-width: 30px;
  word-wrap: break-word;
}

body {
  font-family: "Josefin Sans", sans-serif;
}